{% load static %}

<!DOCTYPE html>
<html>
	<head>
  		<link rel="stylesheet" href="{% static "css/index.css" %}">
	</head>
	
	<body>
		<img class="images" id="clouds" src="{% static "gifs/clouds.gif" %}"/>
		<div class="images" id="filler">
		<img class="buildings" id="building-left" src="{% static "gifs/city.gif" %}"/>
		<img class="buildings" id="building-middle" src="{% static "gifs/city.gif" %}"/>
		<img class="buildings" id="building-right" src="{% static "gifs/city.gif" %}"/>
		</div>
	</body>
</html>
