
.images
{
    position:absolute;
 	z-index:-2;
 	left:5%;
 
}

.buildings
{
	position:relative;
    top:30%;
	z-index:-1;

	

}
div.bg {
    position:relative;
    width: 400px;
    height: 200px;
    z-index:0;
    left:20%;
 
  
} 

div.element1 {
    position: absolute;
    top: -60px;
    left: 4px;
    width: 200px;
    height: 100px;
   
}
div.element2{
	position: absolute;
    top: -97px;
    left: 57%;
    width: 200px;
    height: 200px;

}
div.health_bar_element{
	position:absolute;
    top: 40px;
    left: 83%;
    width: 160px;
    height: 10px;
    background-color:red;

}
div.level_element{

    position: absolute;
    top: -15px;
    left: 87%;
    width: 200px;
    height: 200px;

}
div.score_word_element
{ 
	position: absolute;
    top: -15px;
    right:-120%;
    width: 200px;
    height: 200px;

}
div.score_display
{
	position: absolute;
    top: 0px;
    font-size:20px;
    right:-101%;
    text-align:center;
    width: 200px;
    height: 200px;
}
div.avatar
{
	position: absolute;
     top:250%;
     left:300px;
    width: 50px;
    height: 50px;
    background-color:red;
    z-index:2;
}
.road
{ 
	position:relative;
    top:28%;
	z-index:-1;

}
.avatar
{
	z-index:0;
	position:absolute;
	left:20%;
	bottom:-9%;
}

#clouds
{
    position:relative;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height:200px;
	width:750px;
	left:5%;

	

}
#filler
{
	background-color:rgb(153,255,255);

	margin-top:-3%;
	height:300px;
	width:750px;

}

#arrows
{
	width:250px;
	height:200px;

	

}
#health_panel
{
	position:absolute;
	width:300px;
	height:300px;
	

}
#building-left
{
	width:750px;
	height:240px;
	animation-play-state: paused;
}

#road-left
{
	width:750px;
	height:67px;
}



