
.images
{
 	left:25%;
 	z-index:-2;
}

.buildings
{
	position:absolute;
	height:200px;
	width:50%;
	bottom:0%;
	z-index:-1;

}
.road
{ 
	position:absolute;
	bottom:-15%;

}
.avatar
{
	z-index:0;
	position:absolute;
	left:20%;
	bottom:-9%;
}

#clouds
{
	position:relative;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);

	top:20%;
	height:200px;
	width:57%;
}
#filler
{
	background-color:rgb(153,255,255);
	position:relative;
	margin-top:-3%;
	height:300px;
	width:57%;

}

#building-left,#road-left
{
	left:0%;
}

#building-middle,#road-middle
{
    left:260px;
}
#building-right,#road-right
{
    left:520px;
    clip: rect(0px,243px,243px,0px);
}

